includeConfig "$baseDir/conf/aws_batch.config"

manifest {
  name = '16S_DADA2'
  author = 'Xiandong Meng'
  homePage = 'https://github.com/FischbachLab/nf-miseq-16s-dada2'
  description = 'MiSeq DADA2 purity check pipeline'
  mainScript = 'main.nf'
  version = '0.0.1'
  defaultBranch = 'main' //github branch name
}

process {
  maxRetries = 3
  executor = 'awsbatch'
  queue = "default-maf-pipelines"
  cleanup = true
  cache = false
  container = 'fischbachlab/miseq-16s-dada2:latest'
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
}

aws {
  region = "us-west-2"
}


params{
  /*
 * Defines the pipeline inputs parameters (giving a default value for each for them)
 * Each of the following parameters can be specified as command line options
 */
 /* 	Initialization
  --------------------------------*/
  input_path = "" // "s3://maf-sequencing/Illumina/MiSeq/"
  output_path = "s3://genomics-workflow-core/Results/MiSeq-16s-dada2"
  //"s3://genomics-workflow-core/Pipeline_Results/Megahit/${params.output_prefix}"
  db = "/mnt/efs/databases/Silva/silva_nr99_v138.1_train_set.fa.gz"
  project = "" // MiSeq project/output name
  config = "s3://nextflow-pipelines/nf-miseq-16s-dada2/conf/parameters.yaml"
  container = 'fischbachlab/miseq-16s-dada2:latest'
}

docker {
    enabled = true
}

profiles {
  //awsbatch { includeConfig 'conf/awsbatch.config' }
  //conda { process.conda = "$baseDir/environment.yml" }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker { docker.enabled = true }
  //singularity { singularity.enabled = true }
  //test { includeConfig 'conf/test.config' }
}


timeline {
  enabled = false
  overwrite = true
  file = "$params.output_path/execution_reports/timeline.html"
}

report {
  enabled = false
  overwrite = true
  file = "$params.output_path/execution_reports/report.html"
}

dag {
    enabled = false
    overwrite = true
    file = "$params.output_path/execution_reports/pipeline_dag.html"
}
